html
    head
        title= page.title
        meta(charset='UTF8')
        link(rel='stylesheet' type='text/css' href='/css/style.css')
        block vars
            - var bodyClass = ''
    body(class=bodyClass)
        .wrapper
            block menu
                .menu
                    a(href="/") Images
                    if user
                        a(href="/upload") Upload image
                        a(href="/account") Account
                        a.right(href="/account/logout") Logout
                        .right
                            if session.elevated
                                p Hello #[b #{user.username}]
                            else
                                p Hello #{user.username}

                    else
                        a.right(href="/account/login") Login
                    .clear
            if info && info !=''
                .info= info
            if error && error !=''
                .error= error
            .content
                block content
            .footer
                p.right Powered by #[a(href="https://github.com/artifcat/absinthe") Absinthe]
                .clear
            
        block scripts
            script(src='/js/jquery.min.js')
            script(src='/js/underscore-min.js')
            script(src='/js/backbone-min.js')
            script(src='/js/backbone.paginator.min.js')

            script(src='/js/application.js')